html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color: white;
}

.btn {
  @apply px-4 py-1 rounded inline-block
    bg-teal-600 text-white cursor-pointer
    hover:bg-teal-700
    disabled:cursor-default disabled:bg-gray-600 disabled:opacity-50;
}

.icon-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600;
  font-size: 0.9em;
}

.icon-text-btn {
  @apply inline-block cursor-pointer select-none
    opacity-75 transition duration-200 ease-in-out
    hover:opacity-100 hover:text-teal-600 leading-none flex items-center gap-4;
  font-size: 0.9em;
}

p {
  text-indent: 1rem;
}
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #3b3b3b #858585;
}

.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: #555555;
    border-radius: 100px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #242424;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(54, 54, 54);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.column-block {
  break-inside: avoid-column;
  page-break-inside: avoid;
}

